<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ch.scythe.hsr"
      android:versionCode="6"
      android:versionName="0.6.2.2">
    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
<!--     <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
<!--     <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    
    <application android:icon="@drawable/icon" 
        android:label="@string/app_name" android:debuggable="true" 
        android:theme="@android:style/Theme.Black.NoTitleBar">

        <service android:name=".authenticator.AuthenticationService" android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator" />
        </service>
        
        <service android:name=".syncadapter.SyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/synctimetable" />
<!--             <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts" /> -->
        </service>
        
        <activity android:name=".authenticator.AuthenticatorActivity" android:label="@string/authentication_label" 
            android:theme="@android:style/Theme.Dialog" android:excludeFromRecents="true">
            <!--
                No intent-filter here! This activity is only ever launched by
                someone who explicitly knows the class name
            -->
        </activity>
        
        <activity android:name=".TimeTableActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".UserPreferencesActivity" android:label="@string/app_name" />

    </application>
    
    
</manifest>